html, body {
	margin:0;
	padding:0;
	width:100%;
	background-color:#fff9f9;
	font-family: Verdana, sans-serif;
	font-size: 15px;
}

#status {
	margin-top:5%;
	margin-left:15%;

	width:70%;
	min-height:30%;

	background:linear-gradient(rgb(227, 222, 222),rgb(236, 231, 231));
	box-shadow:0 0 8px rgba(200,200,255,0.5);
	border-radius:3px;
	color:black;
	border: 1px solid #a19797;
}

@media (max-width: 900px) {
	#status {
	 width: 95%;
	 margin-left: 2.5%;
	 margin-top: 7px;
	}
}

#status.loading, #status.download {
	position:  fixed;
	top: 10%;
	min-height: 35px!important;
}

#status.finished {
	display: none;
}

h1 {
	text-align:center;
	font-family: sans-serif;
	width: 100%;
}

#description {
	text-align:justify;
}

#licenseinfo {
	font-size:0.7em;
	color:#888;
}

#licenseinfo a {
	color:#444;
}

#urlform {
	margin-top:50px;
	margin-bottom:25px;
	padding-left:7%;
	width:86%;
}

#status.loading #urlform, #status.download #urlform {
	/*Hide the form while loading tiles and when displaying download link*/
	display: none;
}

input#url {
	width:100%;
	max-width:100%;
	margin-bottom:10px;
	border:0;
	box-shadow:0 0 3px #aaa;
	height:2.5em;
	border-radius: 5px;
	font-size: 1.2em;
}
input#url:focus {
	box-shadow:0 0 10px #aaf;
}

#dezoomers label {
	display: inline-block;
	margin-right:20px;
	white-space: nowrap;
	font-size:.9em;
}
.button {
	width:30%;
	margin:25px 35% 0;
	background: white;
	border: 1px solid;
	height: 40px;
	border-radius: 100px;
}
.button:focus {
	box-shadow:0 0 10px #aaf;
}

#percent {
	color:black;
	font-family: sans;
	font-size:1.2em;
	text-align:center;
}
#progressbar {
	width:0;
	background-color:red;
	height:7px;
}


#status a[download] {
	display: block;
	margin: auto;
	padding: 10px;
	text-align: center;
	height: 1em;
	margin-bottom: 10px;
	border: 1px solid black;
	text-decoration: none;
}

.error {
	background-color:#ffc4c4;
	padding-left:7px;
	padding-right:7px;
	border: 1px solid red;
	word-wrap: break-word;
	margin: 15px 0px;
}

#errormsg {
  font-family: monospace;
  white-space: pre-wrap;
  font-size: 0.8em;
}

.error h3 {
	color: #ff5555;
	text-align: center;
	font-size: 1.5em;
}

.error img {
	vertical-align: middle;
}

div[hidden] {
	display: none;
}
