html, body {
	margin:0;
	padding:0;
	width:100%;
	background-color:#fff9f9;
}

#status {
	position:fixed;
	top:10%;
	left:30%;

	width:40%;
	min-height:20%;

	background:linear-gradient(rgba(198, 192, 192, 0.8),rgb(227, 219, 219));
	box-shadow:0 0 8px rgba(200,200,255,0.5);
	border-radius:3px;
	color:black;
	border: 1px solid #a19797;
}

h1 {
	text-align:center;
	text-shadow:0 0 2px rgba(200,200,255);
	font-family: sans-serif;
	/*! background-color: grey; */
	width: 100%;
}

#description {
	text-align:justify;
}

#licenseinfo {
	font-size:0.7em;
	color:#888;
}

#licenseinfo a {
	color:#444;
}

form {
	margin-top:10%;
	padding-left:7%;
	width:86%;
}

input#url {
	width:100%;
	max-width:100%;
	margin-bottom:10px;
	border:0;
	box-shadow:0 0 3px #aaa;
	height:2.5em;
	border-radius: 5px;
	font-size: 1.2em;
}
input#url:focus {
	box-shadow:0 0 10px #aaf;
}

#dezoomers label {
	display: inline-block;
	margin-right:20px;
	white-space: nowrap;
	font-size:.9em;
}
input[type=submit] {
	width:30%;
	margin:25px 35% 0;
	background: white;
	border: 1px solid;
	height: 30px;
	border-radius: 100px;
}
input[type=submit]:focus {
	box-shadow:0 0 10px #aaf;
}

#percent {
	color:white;
	font-size:1em;
	text-align:center;
}
#progressbar {
	width:0;
	background-color:red;
	height:7px;
}
#error {
	margin-top:15px;
	margin-left:30px;
	margin-right:30px;
	text-align:justify;
	background-color:#ffc4c4;
	color:black;
	padding-left:7px;
	padding-right:7px;
	border-radius: 5px;
	border: 2px solid red;
}	

#error > h3 {
	color: red;
	text-align: center;
}
