html, body {
	margin:0;
	padding:0;
	width:100%;
	background-color:#fff9f9;
}

#status {
	margin-top:5%;
	margin-left:15%;

	width:70%;
	min-height:30%;

	background:linear-gradient(rgb(227, 222, 222),rgb(236, 231, 231));
	box-shadow:0 0 8px rgba(200,200,255,0.5);
	border-radius:3px;
	color:black;
	border: 1px solid #a19797;
}

@media (max-width: 900px) {
	#status {
	 width: 95%;
	 margin-left: 2.5%;
	 margin-top: 7px;
	}
}

#status.loading {
	position:  fixed;
	top: 10%;
	min-height: 35px!important;
}

#status.finished {
	display: none;
}

h1 {
	text-align:center;
	text-shadow:0 0 2px rgba(200,200,255);
	font-family: sans-serif;
	/*! background-color: grey; */
	width: 100%;
}

#description {
	text-align:justify;
}

#licenseinfo {
	font-size:0.7em;
	color:#888;
}

#licenseinfo a {
	color:#444;
}

#urlform {
	margin-top:50px;
	margin-bottom:25px;
	padding-left:7%;
	width:86%;
}

#status.loading #urlform {
	/*Hide the form while loading tiles*/
	display: none;
}

input#url {
	width:100%;
	max-width:100%;
	margin-bottom:10px;
	border:0;
	box-shadow:0 0 3px #aaa;
	height:2.5em;
	border-radius: 5px;
	font-size: 1.2em;
}
input#url:focus {
	box-shadow:0 0 10px #aaf;
}

#dezoomers label {
	display: inline-block;
	margin-right:20px;
	white-space: nowrap;
	font-size:.9em;
}
input[type=submit] {
	width:30%;
	margin:25px 35% 0;
	background: white;
	border: 1px solid;
	height: 40px;
	border-radius: 100px;
}
input[type=submit]:focus {
	box-shadow:0 0 10px #aaf;
}

#percent {
	color:black;
	font-family: sans;
	font-size:1.2em;
	text-align:center;
}
#progressbar {
	width:0;
	background-color:red;
	height:7px;
}
#error {
	margin-top:15px;
	margin-left:30px;
	margin-right:30px;
	text-align:justify;
	background-color:#ffc4c4;
	color:black;
	padding-left:7px;
	padding-right:7px;
	border-radius: 5px;
	border: 2px solid red;
}

#error > h3 {
	color: red;
	text-align: center;
}
